.tab__item {
  display: none;

  &.active {
    display: block;
  }
}

.tabs {
  width: 100%;
  margin: 0 auto;
  padding-top: 56px;
  margin-bottom: 50px;
  background: url("../img/sketch_Bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-position-y: 24px;
  background-position-x: 688px;
}

.tabs__container {
  width: 100%;
  max-width: 942px;
  margin: 0 auto;
  padding: 0 7px;
}

.tabs__items p {
  padding-right: 19px;
  font-family: $fontfamily;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  color: rgba(72, 72, 72, 0.87);
  margin-left: -1px;
  margin-bottom: 19px;
  max-width: 550px;
}

.tabs__item-text {
  max-width: 525px;
}

.tabs__items h2 {
  font-family: $fonttitle;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  color: $blue;
  text-transform: none;
}

.tabs__item {
  margin-left: 64px;
  margin-top: 5px;
}

.tabs__container h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  /* identical to box height */
  margin-bottom: 66px;
  margin-top: 16px;
  margin-left: 5px;
}

.tabs__block {
  width: 100%;
  max-width: 940px;
  display: flex;
  margin: 0 auto;
}


.tabs__nav-icon {
  fill: #000000;
  margin-right: 21px;
  margin-left: 28px;
  //margin-bottom: 20px;
}


.tab__navitem p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-variant: small-caps;
  color: $black;
  cursor: pointer;
  //margin-bottom: 20px;
}


.tabs__nav {
  margin-top: -2px;
}

.tabs__items {
  width: 100%;
  max-width: 637px;
  margin-top: 13px;
}

.tabs__navitem {
  display: flex;
  position: relative;
  align-items: center;
  width: 228px;
  height: 70px;
  //margin-left: 26px;
  margin-bottom: 3px;
}

.tab__navitem.active p {
  color: white;
}

.tab__navitem.active .tabs__nav-icon {
  fill: white;
}

.tab__navitem.active {
  background: url("../img/bg-tab.svg");
  background-repeat: no-repeat;
  background-position-y: 1px;
  background-position-x: 3px;
  width: 235px;
}


@media (max-width: $tablet-width) {
  .tabs__items {
    margin-left: 0;
  }

  .tabs__nav {
    margin-right: 0;
    margin-left: 15px;
  }

  .tabs__container h1 {
    margin-left: 20px;
  }
}

@media (max-width: $mobile-width) {
  .tabs__block {
    flex-direction: column;
  }

  .tabs__nav {
    display: flex;
    overflow-x: scroll;
    margin: 0;
    margin-bottom: -20px;
    margin-top: 5px;
  }

  .tabs__item {
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
  }

  .tabs__nav-wrapper {
    overflow: hidden;
    margin-bottom: -1px;
  }

  .tab__navitem.active {
    background: $gradient;
    border-radius: 50px;
    margin-right: -7px;
    width: 320px;
  }

  .tabs__nav-icon {
    margin-bottom: 6px;
    fill: rgba(72, 72, 72, 0.87);
    margin-left: 21px;
  }

  .tabs__navitem p {
    position: relative;
    right: 10px;
    top: -6px;
    font-family: $fontfamily;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: rgba(72, 72, 72, 0.87);
  }

  .tabs__navitem p.active {
    right: 13px;
  }

  .tabs__navitem {
    margin-bottom: 20px;
    height: auto;
    padding-top: 6px;
    padding-right: 9px;
    width: 320px;
  }


  .tabs {
    background: url("../img/sketch_Bg-mob.png");
    background-repeat: no-repeat;
    background-position-y: 123px;
    /* background-position-x: 66px; */
    background-position: right;
    margin-bottom: 30px;
  }

  .tabs__container h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-left: -11px;
    margin-bottom: 12px;
  }


  .tabs__items p {
    font-size: 14px;
    line-height: 160%;
    font-style: normal;
    font-weight: normal;
    max-width: 285px;
    margin-bottom: 15px;

    &--second {
      margin-top: 15px;
      max-width: 320px;
    }
  }

  .tabs__items h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 18px;
  }

  .tabs__items {
    margin-top: 25px;
  }
}
