.info__container {
  display: flex;
  justify-content: space-around;
}

.info__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}

.info__wrapper h1 {
  margin-bottom: 19px;
  margin-left: 111px;
}

.info__img-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 28px;
    background: url("../img/Marker-map.svg");
    background-repeat: no-repeat;
    background-size: 18px 28px;
    left: 77%;
    top: 139px;
    z-index: 1000;
  }
}

//.info__block-person p {
//  font-style: normal;
//  font-weight: 500;
//  font-size: 15px;
//  line-height: 150%;
//  margin-bottom: 38px;
//  margin-left: 20px;
//}


.info__main-block p {
  max-width: 264px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.info__mark-city {
  margin-right: 15px;
  position: relative;
  color: rgba(72, 72, 72, 0.74);
  border-bottom: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  margin-left: 26px;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    background: url("../img/marker.svg");
    left: -19px;
    top: 0;
    background-repeat: no-repeat;
  }
}

.info__name-city {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 15px;
  line-height: 150%;
  border-bottom: 1px dashed $blue;
  width: 95px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    right: -22px;
    top: 3px;
    background: url("../img/gps.svg");
    background-repeat: no-repeat;
  }
}


.info__block-person {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin-left: 88px;
}


.info__main-block {
  display: flex;
  margin-top: 4px;
}

.info__icon {
  fill: rgba(72, 72, 72, 0.2);
  margin-right: 6px;
}

.info__avatar-addr {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.info__main-block img {
  margin-top: 34px;
  margin-left: 0px;
  border-radius: 50%;
  width: 112px;
  height: 112px;
}


.info__text-block {
  margin-left: 23px;
  margin-top: 4px;
  max-width: 264px;
}

.info__avatar-social {
  margin-top: 10px;
}

.info__block-person p {
  font-family: "Fira Sans", "Arial", sans-serif;
  margin-top: 30px;
  width: 100%;
  max-width: 480px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
}

.info__text-block p {
  margin-bottom: 12px;
  color: rgba(72, 72, 72, 0.74);
  font-size: 15px;
  line-height: 150%;
}

.info__img-block img {
  position: relative;
  top: -59px;
  left: 38px;
}

.info__avatar-stat {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: $blue;
  margin-right: 12px;
}

.info__form-container {
  display: flex;
  width: 100%;
  max-width: 1244px;
  margin: 0 auto;
  margin-top: 5px;
}

.info__form-block p {
  width: 100%;
  max-width: 328px;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  margin-left: 58px;
}

.info__form-block small {
  width: 100%;
  max-width: 537px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.5);
  margin-top: 16px;
}

.info__form input {
  border-radius: 25px;
  padding: 18px;
  padding-left: 38px;
  padding-right: 0;
  border: 2px solid #e3e3e3;
  outline: none;
  margin-right: 18px;
  width: 210px;

  &:hover,
  &:focus {
    border: 2px solid $yellow;
  }

  &::placeholder {
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
  }

  &:required:valid {
    border: 2px solid $black;
  }
}

input:invalid:not(:placeholder-shown) {
  border: 2px solid #ff0000;
}

.info__btn-sub {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: #ffffff;
  background: $gradient;
  border: none;
  border-radius: 25px;
  padding: 17px;
  text-transform: none;
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.info__form-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.5);
  width: 364px;
  margin-left: 58px;
  margin-top: 14px;
}

.info {
  background: url("../img/watercolor_Bg6.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 72px;
  background-position-y: -90px;
}

.info__form {
  width: 100%;
  margin-left: 12px;
  margin-top: -2px;
}

@media (max-width: 1280px) {
  .info__img-block {
    max-width: 620px;
  }

  .info__img-block img {
    top: -14px;
  }

  .info__form-block p {
    max-width: 250px;
    margin-left: 0;
  }

  .info__form-block small {
    max-width: 372px;
  }

  .info__form-block {
    margin-left: 10px;
  }

  .info__form {
    margin-left: 0;
  }

  .info__form input {
    margin-right: 0;
    width: 170px;
  }

  .info__block-person {
    margin-left: 40px;
  }

  .info__block-person p {
    margin-bottom: 30px;
  }

  .info__form-text {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__block-person p {
    margin-bottom: 68px;
  }

  .info__form-container {
    flex-direction: column;
    align-items: center;
  }

  .info__form {
    width: auto;
  }

  .info__form-block {
    margin-bottom: 20px;
    display: flex;
  }

  .info__img-block {
    max-width: auto;
  }

  .info__wrapper h1 {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .info__img-block img {
    width: 500px;
  }
}

@media (max-width: $mobile-width) {
  .info__wrapper h1 {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 62px;
  }

  .info__img-block img {
    width: auto;
    height: auto;
    left: 0;
    top: 47px;
    margin-bottom: 67px;
    max-width: 320px;
  }

  .info__img-block::before {
    width: 26px;
    height: 40px;
    background-size: 26px 40px;
    top: 253px;
    left: 82%;
  }

  .info__block-person p {
    font-family: $fontfamily;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    max-width: 240px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1px;
  }

  .info__main-block {
    flex-direction: column;
  }

  .info__main-block img {
    width: 112px;
    height: 112px;
    margin-bottom: 13px;
    position: relative;
    left: -5px;
  }


  .info__avatar-stat {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    margin-left: -4px;
    margin-right: 6px;
  }

  .info__avatar-addr {
    margin-left: -4px;
    text-align: left;
    position: relative;
    top: 6px;
  }

  .info__block-person {
    margin-left: 1px;
    align-items: center;
  }

  .info__form-block {
    margin-left: 1px;
    margin-top: 3px;
    flex-direction: column;
    margin-bottom: 18px;
  }

  .info__form-block p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    max-width: 288px;
    width: 100%;
    margin-left: -1px;
  }

  .info__form-block small {
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 11px;
    margin-top: 12px;
    max-width: 288px;
    width: 100%;
  }

  .info__form-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    width: 287px;
    margin-left: -3px;
  }

  .info__avatar-social {
    left: -7px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 28px;
  }

  .info__main-text {
    position: relative;
    left: -24px;
    width: 288px;
  }

  .info__form input {
    width: 246px;
    margin: 0 auto;
    margin-top: 8px;
    padding-top: 20px;

    &::placeholder {
      font-family: $fontfamily;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      font-variant: small-caps;
    }
  }

  .info__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 5px;
  }

  .info__btn-sub {
    width: 264px;
    margin-top: 31px;
    padding-bottom: 21px;
  }

  .info {
    background: none;
    padding-bottom: 64px;
  }

  .info__mark-city {
    margin-left: -3px;
  }

  .info__form-container {
    margin-top: -3px;
  }

  .info__text-block {
    margin-left: 0;
    max-width: 280px;
  }

  //.info__span {
  //  padding-right: 20px;
  //}
}
