.ride__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

.ride {
  width: 100%;
  background: url("../img/backpack.png");
  background-repeat: no-repeat;
  background-position-y: 95px;
  margin-bottom: 113px;
  padding-top: 24px;
}

.ride__form-block p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  color: $black;
  max-width: 400px;
  margin-bottom: 64px;
  margin-left: 1px;
}

.ride__form-block h1 {
  margin-bottom: 24px;
  letter-spacing: -0.02em;
  margin-left: 3px;
}


.ride__container input {
  font-family: "Fira Sans", "Arial", sans-serif;
  border: none;
  padding-left: 39px;
  border-radius: 50px;
  padding-top: 7px;
  outline: none;

  &::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    color: rgba(72, 72, 72, 0.5);
  }
}


.ride__form-block {
  position: relative;
  left: 152px;
  margin-top: 145px;
}

.ride__container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #E3E3E3;
  border-radius: 50px;
  position: relative;
  z-index: 19;
  width: 477px;
  margin-right: -15px;

  &::after {
    content: "";
    border-radius: 50px;
    width: 218px;
    height: 60px;
    top: -2px;
    right: -2px;
    position: absolute;
    background: $gradient;
    z-index: 0;
  }
}

.ride__submit {
  font-family: "Fira Sans", "Arial", sans-serif;
  width: 216px;
  background: $gradient;
  border-radius: 50px;
  border: none;
  padding: 20px;
  padding-bottom: 18px;
  padding-top: 19px;
  padding-left: 19px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  z-index: 200;
  position: relative;
  text-transform: none;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}


.ride__img-block {
  width: 818px;
  height: 594px;
  margin-top: -20px;
  background: url("../img/girl-flag-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -42px;
  background-position-x: 24px;
}

@media (max-width: 1140px) {
  .ride__img-block {
    background-position-y: 0;
  }
}


@media (max-width: $tablet-width) {
  .ride__img-block {
    background: none;
    width: auto;
  }

  .ride__form-block {
    margin-right: 0;
    left: -31px;
    margin-top: 0;
  }

  .ride {
    margin-bottom: 0;
  }

  .ride__wrapper {
    max-width: 1023px;
  }
}

@media (max-width: $mobile-width) {
  .ride__form-block h1 {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .ride__form-block p {
    font-size: 16px;
    line-height: 160%;
    max-width: 286px;
    width: 100%;
    margin-bottom: 26px;
  }

  .ride__form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    left: 0;
  }

  .ride__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ride__container {
    flex-direction: column;
    align-items: center;
    border: none;

    &::after {
      display: none;
    }
  }

  .ride__container input {
    border: 2px solid #e3e3e3;
    padding: 20px;
    padding-left: 41px;
    padding-top: 22px;
    margin-left: -20px;
    width: 100%;
    max-width: 220px;
  }

  .ride__submit {
    width: 269px;
    padding-bottom: 21px;
    margin-top: 6px;
    margin-left: -10px;
  }

  .ride {
    padding-top: 39px;
    margin-bottom: 44px;
    background: url("../img/backpack-mob.png");
    background-repeat: no-repeat;
    background-position-y: -13px;
  }


  .ride__img-block {
    width: 100%;
    max-width: 320px;
    height: 308px;
    display: block;
    background: url("../img/girl-flag-bg-mob.png");
    background-repeat: no-repeat;
    background-position-y: 20px;
    padding-bottom: 21px;
  }
}
