.ride__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

.ride {
  background: url("../img/backpack.png");
  background-repeat: no-repeat;
  margin-bottom: 191px;
}

.ride__text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  color: $black;
  max-width: 400px;
  margin-bottom: 64px;
}

.ride__title {
  margin-bottom: 24px;
}


.ride__input {
  border: none;
  padding-left: 20px;
  border-radius: 50px;
  outline: none;

  &::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    color: $black;
  }
}


.ride__form-block {
  margin-right: -101px;
  margin-top: 150px;
}

.ride__container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #E3E3E3;
  border-radius: 50px;
  position: relative;
  z-index: 19;
  width: 477px;

  &::after {
    content: "";
    border-radius: 50px;
    width: 218px;
    height: 64px;
    top: -2px;
    right: -2px;
    position: absolute;
    background: $gradient;
    z-index: 0;
  }
}

.ride__submit {
  width: 216px;
  background: $gradient;
  border-radius: 50px;
  border: none;
  padding: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  z-index: 200;
  position: relative;
}


.ride__img-block {
  width: 818px;
  height: 594px;
  background: url("../img/girl-flag-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
